@model PetShop.ViewModels.AnimalViewModel

@{
    ViewData["Title"] = "Add Animal";
}
<style>
    .col-md-4{
        text-align:center;
    }
    .form-group{
        margin: 1rem;
    }
    .control-label{
        margin: 0.5rem;
    }
</style>
<script>
        $.validator.addMethod("onlyimage",
            function (value, element, parameters) {
                var fileType = $(element)[0].files[0].type;
                var fileTypes = ["image/jpeg", "image/pjpeg", "image/gif", "image/bmp", "image/png", "image/x-png", "image/tiff"]
                var validExtension = $.inArray(fileType, fileTypes) !== -1;
                return validExtension;
            });

        $.validator.unobtrusive.adapters.add("onlyimage", [], function (options) {
            var params = {
                fileextensions: $(options.element).data("val-onlyimage").split(',')
            };

            options.rules['onlyimage'] = params;    
            options.messages['onlyimage'] = $(options.element).data("val-onlyimage");
        });
</script>


<div class="row justify-content-around">
    <div class="col-5">
        <form asp-action="AddAnimal" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Animal!.Name" class="control-label"></label>
                <input asp-for="Animal!.Name" class="form-control" />
                <span asp-validation-for="Animal!.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal!.Age" class="control-label"></label>
                <input asp-for="Animal!.Age" class="form-control" />
                <span asp-validation-for="Animal!.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal!.Description" class="control-label"></label>
                <input asp-for="Animal!.Description" class="form-control" style="overflow:scroll" />
                <span asp-validation-for="Animal!.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" id="fileInput" data-val="true" accept="image/*" class="form-control"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal!.CategoryId" class="control-label"></label>
                <select asp-for="Animal!.CategoryId" class="form-control">
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input asp-action="CreateAnimal" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


